* {
  box-sizing: border-box;
}

p {
  clear: both;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

body {
	font-family: cursive, fantasy;
  margin: 0;
}

#chicken-menu h2{
  background-color: cornsilk;
}

#beef-menu h2{
  background-color: #ffecec;
}

#sushi-menu h2{
  background-color: beige;
}

h1 {
  text-align: center;
  font-size: 1.75em;
  min-height: 100px;
  padding-top: 2%;
}

h2 {
	border: 1px solid black;
	text-align: center;
	float: right;
  max-width: 100%;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: 10px;
  width: 160px;
  padding: 2px 15px 2px 15px;
  font-size: 1.25em;

}


div div{
  background-color: #e9ebec;
  border: 1px solid black;
  margin-bottom: 15px;
  float: left;
  margin-right: auto;
  margin-left: auto;

}

/********** Small devices **********/
@media (max-width: 767px) {
  #chicken-menu, #beef-menu, #sushi-menu {
    margin-left:3%;
    margin-bottom: 3%;
    width: 90%;
    min-width: 305px;
    max-height: 275px;
  }
}

/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  #chicken-menu, #beef-menu {
    width: 46%;
    margin-left: 3%;
    margin-bottom: 3%;
    height: 240px;
  }
  #sushi-menu {
    width: 95%;
    margin-left: 3%;
    height: 240px;
  }
}

/********** Large devices **********/
@media (min-width: 992px) {
  #chicken-menu, #beef-menu, #sushi-menu {
    width: 29.33%;
    margin-left: 3%;
    height: 310px;
  }

}
